/* Test */

/* CSS for wide screens */
* {
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
}

@media only screen and (min-width: 800px) {
	.gridContainer {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-auto-rows: auto;
		grid-column-gap: 10px;
		/*border: 1px dotted gray;*/
	}


	/*HOME page - index.html*/

	.logo {
		width: 100px;
		height: 50px;

	}

	footer {
		position: static;
		background-color: gray;
		height: 200px;
	}

	/*SLIDER*/
	.mySlides {
		display: none;
	}

	.mySlider {
		margin-top: 30px;
		grid-column: 1/span 3;
		width: 40%;
		height: 370px;
		border: 1px solid black;
	}

	.mySlides {
		width: 60%;
		margin: auto;
		margin-top: 20px;
	}

	.buttonsArrow {
		margin-top: 20px;
		text-align: center;
	}

	.buttonsArrow button {
		width: 40px;
		height: 40px;
		background-color: white;

		font-size: 2em;
		border: none;
		color: black;
		margin-left: 10px;
		margin-right: 10px;
	}



}
