@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lilita+One&display=swap');

/* Setup variables */
:root {
    --bg-color: white;
    --primary-color: red;
    --secondary-color: black;
    --tertiary-color: #001174;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Lilita One', cursive;
    --line-height: 1.5rem;
    --box-shadow: 10px 10px 0px -1px;
    --filter-green: invert(48%) sepia(79%) saturate(2476%) hue-rotate(6deg) brightness(218%) contrast(119%);
    --img-gradient: linear-gradient(rgba(255, 254, 244, 0.1), rgba(10, 239, 206, 0.8));
    --img-gradient-2: linear-gradient(rgba(255, 254, 244, 0.1), rgba(255, 111, 120, 0.8));
}

/* General styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    font-family: var(--primary-font);
    line-height: var(--line-height);
    background: linear-gradient(rgba(0, 255, 0, 0.6), rgba(0, 0, 255, 0.5)), url(img/img_hjemme_projektet_1920x1284.jpg) center;
}

.body_play {
    background: linear-gradient(rgba(255, 0, 0, 0.6), rgba(0, 0, 255, 0.5));
}

h2 {
    line-height: 2rem;
    padding: 0 0 1.5rem 0;
    font-family: var(--secondary-font);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h3 {
    padding: 0 0 1.5rem 0;
    font-family: var(--secondary-font);
    letter-spacing: 0.1rem;
}

blockquote {
    font-style: oblique;
    text-align: center;
}

/* navigation styling*/
.navbar {
    display: flex;
    overflow: hidden;
    font-family: var(--primary-font);
    text-transform: uppercase;
    justify-content: flex-end;
    height: 100px;
}

.logo_container {
    display: flex;
    align-items: center;
}

.logo {
    width: 200px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar a {
    width: 100%;
    margin: 0 2rem;
    padding: 0.1rem;
    text-decoration: none;
    color: white;
}

.navbar ul {
    margin: 2vw 0 0 15vw;
    list-style: none;
}

.navbar a:hover {
    color: red;
}

.navbar a:active {
    color: red;
}

.open-slide {
    position: absolute;
    top: 35px;
    right: 5px;
    display: none;
    display: none;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--tertiary-color);
    overflow-x: hidden;
    padding-top: 80px;
    transition: 0.5s;
}

.side-nav a {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: red;
}

.side-nav .btn-close {
    position: absolute;
    color: black;
    top: 10px;
    right: 55px;
    font-size: 56px;
    margin-left: 50px;
}




@media only screen and (min-width: 800px) {
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: auto;
        grid-column-gap: 30px;
    }

    header {
        grid-column: 1/-1;
    }

    .main_content {
        grid-column: 2/12;
    }

    .short_about_us {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2rem;
        padding: 2rem;
    }

    .short_about_us_text_field {
        background: white;
        padding: 2rem;
        transform: rotate(-2deg);
        box-shadow: var(--box-shadow) var(--tertiary-color);
    }

    .all_musicians {
        width: 100%;
        height: auto;
        background: var(--img-gradient-2), url(../img/musician_all.jpg) center;
    }

    .icons_homePage {
        filter: drop-shadow(10px 10px 0px var(--tertiary-color));
    }

    .tante_shouting {
        width:90%;
        filter: drop-shadow(10px 10px 0px var(--tertiary-color));
    }

    .vector_note {
        position: absolute;
        right: 100px;
        width: 40%;
        z-index: -1;
        filter: var(--filter-green);
    }

    .vector_triangle {
        position: absolute;
        right: 60vw;
        top: 70vh;
        width: 40%;
        z-index: -2;
        filter: var(--filter-green);
    }

    .discover {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .discover h2 {
        grid-column: 1/-1;
        text-align: center;
        padding: 2rem;
    }

    .discover_bits {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        grid-gap: 8rem;
        padding: 0 0 2rem 0;
        text-align: center;
    }

    .testimonial {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2rem;
    }

    .testimonial div {
        grid-column: 1;
        margin: auto;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr;
    }

    .gallery h2 {
        text-align: center;
    }

    .gallery_background {
        grid-column: 1;
        margin: auto;
    }

     .musicians_section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
    }

    .musician_img1 {
        width: 100%;
        height: 300px;
        background: var(--img-gradient), url(../img/musician_helen_cello.jpg) top;
        margin: 1rem 0 0 0;
    }

    .musician_img2 {
        width: 100%;
        height: 300px;
        background: var(--img-gradient), url(../img/musician_radi_oboe.jpg) top;
        margin: 1rem 0 0 0;
    }

    .musician_img3 {
        width: 100%;
        height: 300px;
        background: var(--img-gradient), url(../img/musician_madara_violin.jpg) top;
        margin: 1rem 0 0 0;
    }

    .musicians_section h2 {
        grid-column: 1/-1;
        text-align: center;
    }

    .playSound_game {
        margin: 0 auto;
        grid-row: 3;
        grid-column: 1/-1;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .playSound_game h2 {
        grid-column: 1/-1;
        text-align: center;
    }

    #frame {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
    }

    .one_instrument {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .drum_button {
        border: 0px;
        padding: 0.6rem;
        border-radius: 2rem;
        width: 100%;
        margin: 0.5rem;
        box-shadow: var(--box-shadow) var(--tertiary-color);
    }

    .sample_presentations {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
    }

    .sample_presentations h2 {
        grid-column: 1/-1;
        text-align: center;
    }

    .presentation_group {
        text-align: center;
    }

    .presentation_group button {
       border: 0px;
        padding: 0.6rem;
        border-radius: 2rem;
        width: 100%;
        margin: 0.5rem;
        box-shadow: var(--box-shadow) var(--tertiary-color);
    }

    .icons_presentation {
        width: 150px;
        filter: drop-shadow(10px 10px 0px var(--tertiary-color));
    }

    /* footer style */
    footer {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 3rem;
        background-color: var(--tertiary-color);
        padding: 2rem;
        color: white;
        margin: 2rem 0 0 0;
    }

    footer ul {
        list-style: none;
        text-decoration: none;
    }

    /*SLIDER*/
    .mySlides {
        display: none;
    }

    .mySlider {
        margin-top: 30px;
        grid-column: 1/span 3;
        width: 40%;
        height: 370px;
        border: 1px solid black;
    }

    .mySlides {
        width: 60%;
        margin: auto;
        margin-top: 20px;
    }

    .buttonsArrow {
        margin-top: 20px;
        text-align: center;
    }

    .buttonsArrow button {
        width: 40px;
        height: 40px;
        background-color: white;
        font-size: 2em;
        border: none;
        color: black;
        margin-left: 10px;
        margin-right: 10px;
    }
}
