/* CSS for mobile */
@media only screen and (max-width: 800px) {

	/*HOME PAGE - index.html*/
	.gridContainer {
		justify-items: center;
		display: grid;
		width: 100%;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: auto;
		margin: 0px;
		padding: 0px;
	}
}
